.body {
    margin-top: 6rem;
    

}
.gallery {
    display: grid;
    width: 62.5rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 400px 160px;
    grid-template-areas: "one two two" "thre thre thre";
    padding: 0;
    margin: 0 auto;
    font-size: 0;
}
.gallery__info {
    grid-area: one;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    padding: 4rem 2rem;
    box-sizing: border-box;
}
.gallery__main-slide {
    grid-area: two;
    background: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 11.5625rem;
}
.gallery__slides {
    grid-area: thre;
    background: lightskyblue;

}
.slides {
    display: grid;
    grid-template-columns: repeat(7, 6.25rem);
    gap: 2.34375rem;
    list-style: none;
    height: 10rem;
    align-items: center;
    padding-left: 2.34375rem;
}
.slides__slide {
    list-style: none;
    height: 6.25rem;
    background: rgb(221, 237, 221);
}